<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info row">
                        <h4 class="card-title ">Liste des demandes de congés</h4>
                    </div>
                    <div class="card-body">

                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>

                      <div class="table-responsive">
                        <table mat-table  [dataSource]="MyDataSource" multiTemplateDataRows  matSort  class="table borderless">
                    
                             <!-- Type Column -->
                             <ng-container matColumnDef="Type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Type </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.type.nom}} </td>
                              </ng-container>
                    
                             <!-- User Column -->
                             <ng-container matColumnDef="User">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Collaborateur </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.user.fname}} {{data.user.lname}}</td>
                              </ng-container>

                             <!-- Solde Column -->
                             <ng-container matColumnDef="Solde">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Solde de congé </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{data.solde}}</td>
                              </ng-container>
                    
                                <!-- Date Debut Column -->
                              <ng-container matColumnDef="Datedebut">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de debut </th>
                                  <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{ data.datedebut | date:'dd/MM/yyyy' }} </td>
                                </ng-container>
                              
                                <!-- Date soumission Column -->
                              <ng-container matColumnDef="Datesoumission">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de soumission </th>
                                  <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{ data.createdAt | date:'dd/MM/yyyy HH:mm' }} </td>
                                </ng-container>
                    
                              <!-- Date Fin Column -->
                             <ng-container matColumnDef="Datefin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de fin </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{ data.datefin | date:'dd/MM/yyyy' }} </td>
                              </ng-container>
                    
                              <!-- status Column -->
                             <ng-container matColumnDef="Etat">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Etat </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
                                  <span style="cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="togglModal(data._id)" *ngIf="data.etat == 0" class="badge badge-warning"> En cours</span>
                                  <span *ngIf="data.etat == 1" class="badge badge-success"> Validé</span>
                                  <span *ngIf="data.etat == 2" class="badge badge-danger"> Rejeté</span>
                                  </td>
                              </ng-container>
                    
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          </div>
                    
                      </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>

  <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="center">Confirmation</h3>	
                    <button id="hideModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body text-center">
            <button type="button" (click)="confirmation(confirmationId,1)" class="btn btn-success" data-dismiss="modal">Valider</button>
            <button type="button" (click)="confirmation(confirmationId,2)" class="btn btn-danger">Rejeter</button>
          </div>
        </div>
      </div>
    </div> 
