<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                    <button [routerLink]="['/userRh']" class="btn btn-primary"><i class="material-icons">person_add</i> Nouveau collaborateur</button>
                <div class="card">
                    <div class="card-header card-header-info row">
                        <h4 class="card-title ">Liste des collaborateurs</h4>
                    </div>
                    <div class="card-body">

                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>

                    <div class="table-responsive">
                    <table mat-table  [dataSource]="MyDataSource" multiTemplateDataRows  matSort  class="table borderless">

                         <!-- Name Column -->
                         <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Username </th>
                            <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{data.username}} </td>
                          </ng-container>
                            <!-- Name Column -->
                          <ng-container matColumnDef="nom">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Nom </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{data.fname}} {{data.lname}} </td>
                            </ng-container>
                          <!-- Name Column -->
                         <ng-container matColumnDef="tel">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Téléphone </th>
                            <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{data.tel}} </td>
                          </ng-container>
                              <!-- email Column -->
                          <ng-container matColumnDef="email">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Email </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{data.email}}</td>
                            </ng-container>

                              <!-- service Column -->
                          <ng-container matColumnDef="poste">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Poste </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{data.poste}}
                                <ng-container *ngIf="data.grade<100">{{data.grade}}</ng-container>
                                <ng-container *ngIf="data.grade>=100"> - Associé</ng-container>
                                 
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                          <ng-container matColumnDef="departement">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Departement </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
                                 <ng-container *ngFor="let myDepart of data?.depart; let isLast=last">
                                  {{myDepart}}{{isLast ? '' : ', '}}
                                 </ng-container>
                                </td>
                            </ng-container>

                              <!-- Action Column -->
                              <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Action </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
                                  <i [routerLink]="['/userRh']" [queryParams]="{id: data._id}" class="text-primary material-icons mr-2">remove_red_eye</i>
                                  <i data-toggle="modal" data-target="#myModal" (click)="togglModal(data._id)" class="text-danger material-icons">clear</i>
                              </td>
                            </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let data; columns: displayedColumns;">
                              </tr>
                      </table>
                      <div *ngIf="MyDataSource?.data.length === 0 || MyDataSource?.filteredData.length === 0" style="text-align: center;">
                        <i style="font-size: 200px;color:#ff4519;" class="material-icons">search</i>
                        <div style="font-size: 20px">Aucune donnée trouvée</div> 
                    </div>
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          </div>
                      </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>

  <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE5CD;</i>
            </div>				
            <h4 class="modal-title">Êtes-vous sûr !</h4>	
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Voulez-vous vraiment supprimer ce utilisateur? Ce processus ne peut pas être annulé.</p>
          </div>
          <div class="modal-footer">
            <button id="hideModal" type="button" class="btn btn-info" data-dismiss="modal">Annuler</button>
            <button type="button" (click)="delete(deleteId)" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div> 
