<div class="card">
  <div class="card-header card-header-info">
      <h4 *ngIf="!id" class="card-title">Ajouter un groupe</h4>
      <h4 *ngIf="id" class="card-title">Modifier un groupe</h4>

  </div>
  <div class="card-body">
      <form  [formGroup]="form" (ngSubmit)="onSubmit()">
          
        <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input  matInput placeholder="Nom du groupe" formControlName="groupename"  type="text">
                  <mat-error *ngIf="!form.controls.groupename.valid">Le nom est requis</mat-error>
                </mat-form-field>

              </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
             <mat-form-field>
                 <mat-select placeholder="Tabelau de board" formControlName="dashboard" multiple>
                   <mat-option *ngFor="let permo of permissionslist" [value]="'dashboard'+permo[1]">{{permo[0]}}
                   </mat-option>                    
                 </mat-select>
               </mat-form-field>
            </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
           <mat-form-field>
               <mat-select placeholder="Clients" formControlName="clients" multiple>
                 <mat-option *ngFor="let permo of permissionslist" [value]="'clients'+permo[1]">{{permo[0]}}
                 </mat-option>                    
               </mat-select>
             </mat-form-field>
          </div>
      </div>  

          <div class="row">
              <div class="col-md-6" *ngFor="let depart of departs">
               <mat-form-field>
                   <mat-select placeholder="{{depart.name}}" formControlName="{{depart._id}}"  multiple>
                    <mat-option [value]="depart._id+'Manager'">Manager</mat-option>
                     <mat-option *ngFor="let permo of permissionslist" [value]="depart._id+permo[1]">{{permo[0]}}
                     </mat-option>                    
                   </mat-select>
                 </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
             <mat-form-field>
                 <mat-select placeholder="Appels d'offres" formControlName="appels" multiple>
                  <mat-option [value]="'appelsmanager'">Manager</mat-option>
                   <mat-option *ngFor="let permo of permissionslist" [value]="'appels'+permo[1]">{{permo[0]}}
                   </mat-option>                                        
                 </mat-select>
               </mat-form-field>
            </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
           <mat-form-field>
               <mat-select placeholder="Encaissement" formControlName="encaissement" multiple>
                <mat-option [value]="'encaissementView'">Voir</mat-option>
               </mat-select>
             </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
                <mat-select placeholder="Decaissement" formControlName="decaissement" multiple>
                 <mat-option [value]="'decaissementFournisseur'">Gestion des fournisseurs</mat-option>
                  <mat-option *ngFor="let permo of permissionslist" [value]="'decaissement'+permo[1]">{{permo[0]}}
                  </mat-option>                                        
                </mat-select>
              </mat-form-field>
           </div>
           <div class="col-md-4">
                <mat-form-field>
                    <mat-select placeholder="Réglement" formControlName="reglement" multiple>
                     <mat-option [value]="'reglementtView'">Voir</mat-option>
                    </mat-select>
                  </mat-form-field>
           </div>
      </div>

      <div class="row">
          <div class="col-md-12">
           <mat-form-field>
               <mat-select placeholder="Facturation" formControlName="bill" multiple>
                 <mat-option [value]="'billCreate'">Crée</mat-option>                                        
                 <mat-option [value]="'billUpdate'">Mise à jours</mat-option>                                        
                 <mat-option [value]="'billView'">Voir</mat-option>                                        
                 <mat-option [value]="'billSend'">Envoyer</mat-option>                                        
               </mat-select>
             </mat-form-field>
          </div>
      </div>
          <div class="row">
              <div class="col-md-4">
               <mat-form-field>
                   <mat-select placeholder="Utilisateurs" formControlName="users" multiple>
                     <mat-option *ngFor="let permo of permissionslist" [value]="'users'+permo[1]">{{permo[0]}}
                     </mat-option>                    
                   </mat-select>
                 </mat-form-field>
              </div>
              
              <div class="col-md-4">
                  <mat-form-field>
                      <mat-select placeholder="Configuration" formControlName="config" multiple>
                        <mat-option *ngFor="let permo of permissionslist" [value]="'config'+permo[1]">{{permo[0]}}
                        </mat-option>                    
                      </mat-select>
                    </mat-form-field>
                 </div>
                 <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Groupes" formControlName="groupes" multiple>
                          <mat-option *ngFor="let permo of permissionslist" [value]="'groupes'+permo[1]">{{permo[0]}}
                          </mat-option>                    
                        </mat-select>
                      </mat-form-field>
                   </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                  <mat-select placeholder="Ressources Humaines" formControlName="rh" multiple>
                    <mat-option [value]="'rhDemande'">Géstion des demandes</mat-option>
                    <mat-option *ngFor="let permo of permissionslist" [value]="'rh'+permo[1]">{{permo[0]}}
                    </mat-option>                    
                  </mat-select>
                </mat-form-field>
             </div>
          </div>
          <button mat-raised-button type="submit" [disabled]="!form.dirty" class="btn btn-danger pull-right">Sauvegarder</button>
          <div class="clearfix"></div>
      </form>
  </div>
</div>

