.card{
    width:100%;
    box-shadow:none;
    margin:0px;
}



/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px !important ;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(228, 225, 225); 
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 170, 170); 
}

::-webkit-scrollbar:hover {
    width: 15px;
}
