<div class="logo row">
    <a href="http://xpr.com.tn" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png" />
            <br>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" [routerLink]="['/user-profile']"> <img
                        style="width:70px;height:70px;margin-top:10px" class="rounded-circle mx-auto d-block"
                        src="{{awsUrl}}{{image}}" /></a>
            </li>
        </ul> 
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item takeleft dropdown">
            <li routerLinkActive="active" class="nav-item dropdown" (click)="notification_seen()">
                <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">{{ unseen_notifications }} </span>
                    <p>
                        <span class="d-lg-none d-md-block" *ngIf="unseen_notifications <= 1">Notification</span>
                        <span class="d-lg-none d-md-block" *ngIf="unseen_notifications > 1">Notifications</span>
                    </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <h6 class="dropdown-header">Notifications:</h6>
                    <li class="scroll">
                        <a class="dropdown-item" *ngIf="notifications?.length <= 0">
                            <div class="text-black mx-auto">Aucune Notification</div>
                        </a>
                        <a class="dropdown-item" *ngFor="let notification of notifications"
                            routerLink="{{notification.link}}">

                            <div class="row justify-content-start">
                                <div class="col-3">
                                    <div *ngIf="notification.image; else defaultImage">
                                        <img style="width:40px;height:40px;" class="rounded-circle"
                                            src="{{awsUrl}}{{notification.image}}" />
                                    </div>
                                    <ng-template #defaultImage>
                                        <img style="width:40px;height:40px;" class="rounded-circle"
                                            src="{{baseUrl}}/uploads/img/icon.png" />
                                    </ng-template>
                                </div>
                                <div class="col-3">
                                    <div class="card-title font-weight-bold"><b>{{notification.title}}</b></div>
                                    <div class="text-muted longtext">{{notification.message}}</div>
                                    <div class="card-text text-info">{{timeAgo(notification.createdAt)}}</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/notifications']">
                        <div class="text-primary mx-auto">Voir Tout</div>
                    </a>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li *ngIf="permissions?.includes('dashboard')" routerLinkActive="active" class="nav-item takeleft">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <i class="material-icons">dashboard</i>
                <p>Vue d'ensemble</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item takeleft">
            <a class="nav-link" [routerLink]="['/mydashboard']">
                <i class="material-icons">bubble_chart</i>
                <p>Mon Tableau de bord</p>
            </a>
        </li>
        <li *ngIf="permissions?.includes('clients')" routerLinkActive="active" class="nav-item takeleft">
            <a class="nav-link" [routerLink]="['/clients']">
                <i class="material-icons">group</i>
                <p>Clients</p>
            </a>
        </li>
        <ng-container *ngFor="let depart of authservice?.departs" >
            <li *ngIf="permissions?.includes(depart._id) " routerLinkActive="active" class="nav-item takeleft">
                <a class="nav-link" [routerLink]="['/service']" [queryParams]="{id: depart._id}">
                    <i class="material-icons">work</i>
                    <p>{{depart.name}}</p>
                </a>
            </li>
        </ng-container>
        <li  routerLinkActive="active" class="nav-item takeleft">
            <a class="nav-link" [routerLink]="['/mytimesheets']" >
                <i class="material-icons">timeline</i>
                <p>Timesheets</p>
            </a>
        </li>
        <li *ngIf="permissions?.includes('appels')" class="nav-item takeleft" routerLinkActive="active" style="cursor: pointer;" class="nav-item takeleft">
            <a class="nav-link" (click)="AOexpanded = !AOexpanded">
                <i class="material-icons">featured_play_list</i>
               <p>Appels d'offres
                <span fxFlex>
                    <span fxFlex></span>
                    <mat-icon [@indicatorRotate]="AOexpanded ? 'AOcollapsed' : 'AOexpanded'" class="pull-right">
                        expand_more
                    </mat-icon>
                </span>
                </p>
            </a>
        </li>
        <div *ngIf="AOexpanded">
            <li *ngIf="permissions?.includes('appelsCreate')" routerLinkActive="active" class="nav-item ml-n1">
                <a class="nav-link" [routerLink]="['/addAppel']">
                    <i class="material-icons">library_add</i>
                    <p>Ajouter</p>
                </a>
            </li>
        </div>
        <div *ngIf="AOexpanded">
            <li *ngIf="permissions?.includes('appels')" routerLinkActive="active" class="nav-item ml-n1">
                <a class="nav-link" [routerLink]="['/appeldoffre']">
                    <i class="material-icons">library_books</i>
                    <p>Gêrer</p>
                </a>
            </li>
        </div>
        <div *ngIf="AOexpanded">
                <li *ngIf="permissions?.includes('appels')" routerLinkActive="active" class="nav-item ml-n1">
                    <a class="nav-link" [routerLink]="['/modeleAppel']">
                        <i class="material-icons">dashboard</i>
                        <p>Documents</p>
                    </a>
                </li>
            </div>

        <!-- Gest treso -->
        <li  *ngIf="permissions?.includes('encaissement') || permissions?.includes('decaissement') || permissions?.includes('reglement')" class="nav-item takeleft" routerLinkActive="active" style="cursor: pointer;" >
                <a style="font-size: 14px;" class="nav-link" (click)="Tresoexpanded = !Tresoexpanded">
                    <i class="material-icons">compare_arrows</i>
                   <p>Gestion de trésorerie
                    <span fxFlex>
                        <span fxFlex></span>
                        <mat-icon [@indicatorRotate]="Tresoexpanded ? 'Tresocollapsed' : 'Tresoexpanded'" class="pull-right">
                            expand_more
                        </mat-icon>
                    </span>
                    </p>
                </a>
            </li>
            <div *ngIf="Tresoexpanded">
                <li *ngIf="permissions?.includes('encaissement')" routerLinkActive="active" class="nav-item ml-n1">
                    <a class="nav-link" [routerLink]="['/treso']">
                        <i class="material-icons">arrow_back</i>
                        <p>Tableau des encaissements</p>
                    </a>
                </li>
            </div>
            <div *ngIf="Tresoexpanded">
                <li *ngIf="permissions?.includes('decaissement')" routerLinkActive="active" class="nav-item ml-n1">
                    <a class="nav-link" [routerLink]="['/decaissement']">
                        <i class="material-icons">arrow_forward</i>
                        <p>Tableau des décaissements</p>
                    </a>
                </li>
            </div>
            <div *ngIf="Tresoexpanded">
                    <li *ngIf="permissions?.includes('reglement')" routerLinkActive="active" class="nav-item ml-n1">
                        <a class="nav-link" [routerLink]="['/reglements']">
                            <i class="material-icons">playlist_add_check</i>
                            <p>Gestion des règlements</p>
                        </a>
                    </li>
                </div>

            <!-- Ressource humaine -->
            <li  *ngIf="permissions?.includes('rh')" class="nav-item takeleft" routerLinkActive="active" style="cursor: pointer;" >
                <a style="font-size: 14px;" class="nav-link" (click)="Hrexpanded = !Hrexpanded">
                    <i class="material-icons">how_to_reg</i>
                    <p>Ressources humaines
                    <span fxFlex>
                <span fxFlex></span>
                <mat-icon [@indicatorRotate]="Hrexpanded ? 'Hrcollapsed': 'Hrexpanded'" class="pull-right">
                expand_more
                </mat-icon>
            </span>
                </a> 
            </li>
            <div *ngIf="Hrexpanded">
                    <li *ngIf="permissions?.includes('rhCreate')" routerLinkActive="active"  class="nav-item ml-n1">
                            <a class="nav-link" [routerLink]="['/userRh']">
                                <i class="material-icons">person_add</i>
                                <p>Ajouter un collaborateur</p>
                            </a>
                        </li>
                    </div>
            <div *ngIf="Hrexpanded">
                <li *ngIf="permissions?.includes('rhUpdate') || permissions?.includes('rhCreate') || permissions?.includes('rhView') || permissions?.includes('rhDelete')" routerLinkActive="active"  class="nav-item ml-n1">
                        <a class="nav-link" [routerLink]="['/usersRh']">
                            <i class="material-icons">people_outline</i>
                            <p>Gestion des collaborateurs</p>
                        </a>
                    </li>
                </div>
                <div *ngIf="Hrexpanded">
                        <li *ngIf="permissions?.includes('rhDemande')" routerLinkActive="active"  class="nav-item ml-n1">
                                <a class="nav-link" [routerLink]="['/conges-Rh']">
                                    <i class="material-icons">folder_shared</i>
                                    <p>Gestion des congés</p>
                                </a>
                        </li>
                </div>
                <div *ngIf="Hrexpanded">
                        <li *ngIf="permissions?.includes('rhDemande')" routerLinkActive="active"  class="nav-item ml-n1">
                                <a class="nav-link" [routerLink]="['/AttestationRh']">
                                    <i class="material-icons">featured_play_list</i>
                                    <p>Gestion des attestations</p>
                                </a>
                        </li>
                </div>
          <!-- Gest Params -->
          <li   *ngIf="permissions?.includes('users') || permissions?.includes('groupes') || permissions?.includes('config')" class="nav-item takeleft" routerLinkActive="active" style="cursor: pointer;" >
            <a  class="nav-link" (click)="Paramexpanded = !Paramexpanded">
                <i class="material-icons">build</i>
                <p>Paramètres
                <span fxFlex>
                    <span fxFlex></span>
                    <mat-icon [@indicatorRotate]="Paramexpanded ? 'Paramcollapsed' : 'Paramexpanded'" class="pull-right">
                        expand_more
                    </mat-icon>
                </span>
                </p>    
            </a>
        </li>
        <div *ngIf="Paramexpanded">
            <li *ngIf="permissions?.includes('groupes')" routerLinkActive="active" class="nav-item ml-n1">
                <a class="nav-link" [routerLink]="['/groupes']">
                    <i class="material-icons">people</i>
                    <p>Groupes</p>
                </a>
            </li>
        </div>
        <div *ngIf="Paramexpanded">
                <li *ngIf="permissions?.includes('config')" routerLinkActive="active" class="nav-item ml-n1">
                    <a  class="nav-link" [routerLink]="['/configuration']">
                        <i class="material-icons">settings_applications</i>
                        <p>Configuration</p>
                    </a>
                </li>
            </div>

            <li routerLinkActive="active" class="nav-item takeleft">
                <a class="nav-link" [routerLink]="['/feedback']">
                    <i class="material-icons">feedback</i>
                    <p>Feedback</p>
                </a>
            </li>
            
            <li routerLinkActive="active" class="nav-item takeleft">
                <a class="nav-link" [routerLink]="['/convention']">
                    <i class="material-icons">Convention</i>
                    <p>Convention</p>
                </a>
            </li>

        <li *ngIf="isMobileMenu()" routerLinkActive="active" class="nav-item takeleft">
            <a class="nav-link" href="" (click)="onLogoutClick()">
                <i class="material-icons">exit_to_app</i> Déconnecter
            </a>
        </li>
    </ul>
</div>