<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info row">
                        <h4 class="card-title ">Liste des demandes de congés</h4>
                    </div>
                    <div class="card-body">

                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>

                      <div class="table-responsive">
                        <table mat-table  [dataSource]="MyDataSource" multiTemplateDataRows  matSort  class="table borderless">
                    
                             <!-- Type Column -->
                             <ng-container matColumnDef="Type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Type </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.type}} </td>
                              </ng-container>
                    
                             <!-- User Column -->
                             <ng-container matColumnDef="User">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Collaborateur </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.user.fname}} {{data.user.lname}}</td>
                              </ng-container>

                             <!-- Solde Column -->
                             <ng-container matColumnDef="Raison">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Raison </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{data.raison}}</td>
                              </ng-container>
                    
                                <!-- Date soumission Column -->
                              <ng-container matColumnDef="Datesoumission">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de soumission </th>
                                  <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{ data.createdAt | date:'dd/MM/yyyy HH:mm' }} </td>
                                </ng-container>
                              <!-- status Column -->
                             <ng-container matColumnDef="Etat">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Etat </th>
                                <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
                                  <span style="cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="togglModal(data._id)" *ngIf="data.etat == 0" class="badge badge-warning"> En cours</span>
                                  <span *ngIf="data.etat == 1" class="badge badge-success"> Validé</span>
                                  </td>
                              </ng-container>
                    
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          </div>
                    
                      </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>

  <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="center">Validation</h3>	
                    <button id="hideModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body text-center">
            <div class="row mb-2">
              <div class="col-md-12">
                <label  ng2FileDrop 
                [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                (fileOver)="fileOverAnother($event)"
                [uploader]="uploader"
                class="well my-drop-zone" accept="application/msword, application/vnd.ms-excel, 
                application/vnd.ms-powerpoint, text/plain,
                application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document, 
                application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
                application/vnd.openxmlformats-officedocument.presentationml.slideshow, image/*">
                   <div *ngIf="uploader.queue.length > 0" class="files">
                    <div class="row" >
                        <div class="col-md-2" *ngFor="let item of uploader.queue">
                    
                        <img  src="../../../../assets/img/{{item?.file?.name.split('.').pop()}}.png" style="width:80px;height:80px">
  
                    <div style="text-align:center" >{{item?.file?.name.split('.')[0]}}</div>
                    <i (click)="removeFile(item)" style="font-size: 26px;" class="close material-icons text-danger">cancel</i>
                </div>
                    </div>
                    <br>
                    Avancement d'upload:
                        <div class="progress" >
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    
                </div>
                <span *ngIf="uploader.queue.length == 0" class="dropfiles" >Faire glisser le fichier si vous voulez</span>
                <input [disabled]="removing" type="file" #fileInput ng2FileSelect [uploader]="uploader" class="inputFile" style="display: none; cursor: pointer;" multiple
                accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain,
                application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document, 
                application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
                application/vnd.openxmlformats-officedocument.presentationml.slideshow, image/*"/>
            </label>
  
            <button [disabled]="submited" *ngIf="uploader.queue.length>0" type="button" (click)="uploader.clearQueue()" class="btn btn-danger pull-right">Effacer</button>
              </div>
          </div>
            <button [disabled]="submited" type="button" (click)="confirmation(confirmationId,1)" class="btn btn-success"> <i *ngIf="submited" class="fa fa-spinner fa-spin mr-2"></i>Valider</button>
          </div>
        </div>
      </div>
    </div> 
