<!-- Button trigger modal -->
  <button class="pull-right mt-n4" color="basic" mat-mini-fab data-toggle="modal" data-target="#congeModal" aria-label="Ajouter une demande">
    <mat-icon>add</mat-icon>
  </button>
  <div class="table-responsive">
    <table mat-table  [dataSource]="MyDataSource" multiTemplateDataRows  matSort  class="table borderless">

         <!-- Type Column -->
         <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Type </th>
            <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.type.nom}} </td>
          </ng-container>

            <!-- Date Debut Column -->
          <ng-container matColumnDef="Datedebut">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de debut </th>
              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{ data.datedebut | date:'dd/MM/yyyy' }} </td>
            </ng-container>
          
            <!-- Date soumission Column -->
          <ng-container matColumnDef="Datesoumission">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de soumission </th>
              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">{{ data.createdAt | date:'dd/MM/yyyy HH:mm' }} </td>
            </ng-container>

          <!-- Date Fin Column -->
         <ng-container matColumnDef="Datefin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de fin </th>
            <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{ data.datefin | date:'dd/MM/yyyy' }} </td>
          </ng-container>

          <!-- status Column -->
         <ng-container matColumnDef="Etat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Etat </th>
            <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
              <span *ngIf="data.etat == 0" class="badge badge-warning"> En cours</span>
              <span *ngIf="data.etat == 1" class="badge badge-success"> Validé</span>
              <span *ngIf="data.etat == 2" class="badge badge-danger"> Rejeté</span>
              </td>
          </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>













<div id="congeModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Demande de congé</h5>
          <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

  <form  [formGroup]="form" (ngSubmit)="onSubmit()">              
        <div class="modal-body">            
              <!-- ______________  ______________  ______________  ______________  ______________   -->
    <div class="card-body">
            
          <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                      <mat-select (ngModelChange)="onChangeCongetype($event)"  placeholder="Type"  formControlName="type">
                          <mat-option *ngFor="let type of types" [value]="type">{{type.nom}}</mat-option>                                 
                         </mat-select>
                    <mat-error *ngIf="!form.controls.type.valid">Le type est requis</mat-error>
                  </mat-form-field>
                </div>    
            </div>
             
          <div class="row mb-2" *ngIf="type">
              <div class="col-md-5">
                <mat-form-field>
                  <input matInput (dateChange)="onChangeDate()" [min]="nowStringAsDate()" (change)="onChangeDate()" 
                  [matDatepicker]="picker1" placeholder="Date de debut " formControlName="datedebut">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="!form.controls.datedebut.valid">La date de debut est requise</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field>
                  <input matInput (dateChange)="onChangeDate()" [min]="form.controls.datedebut.value" (change)="onChangeDate()" 
                  [matDatepicker]="picker2" placeholder="Date de fin" formControlName="datefin">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="!form.controls.datefin.valid">La date de fin est requise</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                    <input readonly matInput [value]="realPeriode" placeholder="Période">
                  </mat-form-field>
              </div>
            
          </div>
          <div class="row">
              <div class="col-md-5">   
                <p class="pull-left">Date de soumission: {{ nowStringAsDate() | date:'dd/MM/yyyy HH:mm' }}</p>
              </div>
              <div class="col-md-3">   
                <p class="pull-left">Solde congé: {{maxConge}}</p>
              </div>
              <div class="col-md-3">   
                <p class="pull-left">Jours de congé: {{form.controls.periode.value || '0'}}</p>
              </div>
            </div>
            
            <div class="pull-right" >
              <mat-error *ngIf="form.controls.periode.hasError('min')">La période n'est pas valide</mat-error>
              <mat-error *ngIf="form.controls.periode.hasError('max')">Pas assez de solde</mat-error>
             </div>

    </div>
    <!-- ______________  ______________  ______________  ______________  ______________   -->

        </div>
        <div class="modal-footer">
          <button type="button" type="submit" class="btn btn-info">Envoyer</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        </div>
      </form>        
      </div>
    </div>
  </div>


