<div class="main-content">
  <div class="container-fluid my ">
    <div class="row">
      <div class="col-md-6 mx-auto ">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Inscription</h4>


          </div>
          <div class="card-body">
            <mat-horizontal-stepper [linear]="!isLinear" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Remplir les champs</ng-template>
                  <div>

                    <mat-form-field>
                      <mat-label>raisonsocial</mat-label>
                      <input matInput placeholder="raisonsocial" formControlName="raisonsocial" >
                      <mat-error *ngIf="firstFormGroup.controls.raisonsocial.invalid">Raison sociale est obligatoire</mat-error>
                        
                    </mat-form-field>
                    

                    <mat-form-field>
                      <mat-label>Forme juridique</mat-label>
                      <mat-select formControlName="formejuridique">

                        <mat-option *ngFor="let formejuridique of formejuridiques" [value]="formejuridique">
                          {{formejuridique}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.controls.formejuridique.invalid">la forme juridique est obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Secteur d'activité</mat-label>
                      <mat-select formControlName="secteur" (selectionChange)="fn()">

                        <mat-option *ngFor="let secteur of secteurs" [value]="secteur">{{secteur}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="firstFormGroup.controls.secteur.invalid">Le secteur d'activité est obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="firstFormGroup.controls.secteur.value == 'Autres services'">
                      <mat-label>Quel est ce secteur ?</mat-label>
                      <input matInput placeholder="autresecteur" formControlName="autresecteur" >
                      <mat-error *ngIf="firstFormGroup.controls.autresecteur.invalid">Le secteur d'activité est obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Date de création de l'entreprise</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="firstFormGroup.controls.Date.invalid">la date de création est obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Sigle</mat-label>
                      <input matInput placeholder="Sigle" formControlName="sigle" >
                      <mat-error *ngIf="firstFormGroup.controls.sigle.invalid">le sigle est obligatoire</mat-error>
                        
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>enseigne</mat-label>
                      <input matInput placeholder="enseigne" formControlName="enseigne">
                      <mat-error *ngIf="firstFormGroup.controls.enseigne.invalid">l'enseigne est obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Matricule fiscal</mat-label>
                      <input matInput placeholder="matriculefiscal" formControlName="matriculefiscal">
                      <mat-error *ngIf="firstFormGroup.controls.matriculefiscal.invalid">le matricule fiscal est obligatoire</mat-error>
                    </mat-form-field>



                  </div>
                  <div>
                    <button mat-button class="btn btn-primary pull-right" matStepperNext>Suivant</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Remplir les champs</ng-template>
                  <mat-form-field>
                    <mat-label>Adresse</mat-label>
                    <input matInput placeholder="Adresse" formControlName="adresse" required>
                    <mat-error *ngIf="secondFormGroup.controls.adresse.invalid">l'adresse est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Code Postal</mat-label>
                    <input matInput placeholder="Code Postal" formControlName="codepostal" required>
                    <mat-error *ngIf="secondFormGroup.controls.codepostal.invalid">le code Postal est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Numéro de telephone</mat-label>
                    <input matInput placeholder="Numero de telephone" type="number" formControlName="tel" required>
                    <mat-error *ngIf="secondFormGroup.controls.tel.invalid">le numéro de téléphone est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Fax</mat-label>
                    <input matInput placeholder="Fax" type="number" formControlName="fax">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Nom du représentant légal</mat-label>
                    <input matInput placeholder="representant" formControlName="representant" required>
                    <mat-error *ngIf="secondFormGroup.controls.representant.invalid">le nom du représentant est obligatoire</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>pays</mat-label>
                    <mat-select formControlName="pays">
                      <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.controls.pays.invalid">le pays est obligatoire</mat-error>
                  </mat-form-field>


                  <mat-form-field>
                    <mat-label>Etat</mat-label>
                    <mat-select formControlName="etat">
                      <ng-container *ngFor="let state of states">
                        
                      <mat-option *ngIf="state.country_id == secondFormGroup.controls.pays.value" [value]="state.id">{{state.name}}
                      </mat-option>
                      </ng-container>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.controls.pays.invalid">l'etat est obligatoire</mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>ville</mat-label>
                    <mat-select formControlName="ville">
                      <ng-container *ngFor="let city of cities">
                        
                      <mat-option *ngIf="city.state_id == secondFormGroup.controls.etat.value" [value]="city.id">{{city.name}}
                      </mat-option>
                      </ng-container>
                    </mat-select>
                    <mat-error *ngIf="secondFormGroup.controls.ville.invalid">la ville est obligatoire</mat-error>
                  </mat-form-field>


                  <div>
                    <button mat-button class="btn btn-primary pull-right" matStepperNext>Suivant</button>
                    <button mat-button class="btn btn-danger pull-right" matStepperPrevious>Précédant</button>

                  </div>
                </form>
              </mat-step>


              <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                  <ng-template matStepLabel>Données de connexion</ng-template>
                  <div style="margin-left: 0px;margin-right: 0px;" class="row col-md-12">
                    <mat-form-field class="col-md-12">
                      <mat-label>Adresse E-mail</mat-label>
                      <input matInput placeholder="Adresse E-mail"  name="email" formControlName="email" required>
                      <mat-error *ngIf="thirdFormGroup.controls.email.invalid">L'adresse e-mail est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                      <mat-label>Nouveau mot de passe</mat-label>
                      <input matInput placeholder="Mot de passe"  name="password" type="password" formControlName="password" required>
                      <mat-error *ngIf="thirdFormGroup.controls.password.invalid">Veuillez choisir un nouveau mot de passe</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                      <mat-label>Confirmer mot de passe</mat-label>
                      <input matInput placeholder="Mot de passe" type="password" formControlName="confirmermotdepasse"
                        required>
                        <mat-error *ngIf="thirdFormGroup.controls.confirmermotdepasse.invalid">les deux mots de passes ne correspondent pas.</mat-error>
                    </mat-form-field>
                  </div>

                  <div>
                    <button mat-button class="btn btn-primary pull-right" (click)="onSubmit()">Comfirmer</button>
                    <button mat-button class="btn btn-danger pull-right" matStepperPrevious>Précédant</button>

                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          <div class="card-footer">
            <div class="success" *ngIf ="formSubmitAttempt && formSuccess"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
              <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
            </svg>
            <p class="success">Oh Yeah!</p></div>
        
        
            <div class="fail" *ngIf ="formSubmitAttempt && !formSuccess">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
              </svg>
              <p class="error">Bummer!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>