

.perc{
    margin-top:20px;
    margin-bottom:20px;
   
    padding:8px;
}
.perc .line{
    margin-top:18px;
}
input[type="file"] {
    display: none;
}

.inputBtn{
    color: #ffffff;
    background-color: #008fa1;
    border-color: #008394;
    border-radius: 30px ; 
}

.faza{
    margin-top: -25px !important;
    margin-left: -15px !important;
    border-bottom-right-radius: 30px !important;
}

.border-right.border-md {
    border-right-width:0!important;
  }

  .border-bottom {
    border-right-width:1px!important;
  }
      
  @media (min-width: 768px) {
    .border-right.border-md {
      border-right-width:1px!important;
    }
  }

  .showButton {
    position: relative;
    margin-left: 5%
  }
  
  .image {
    object-fit:cover;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    max-width: 160px;
    max-height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .showButton:hover .image {
    opacity: 0.6;
  }
  
  .showButton:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 11px;
    padding: 16px 32px;
    object-fit:contain;
    margin-bottom: 50%;
    height: 60%; /* as the half of the width */
  }