<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-info">
                      <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li  class="nav-item">
                                    <a mat-button  class="nav-link active" href="#perso" data-toggle="tab">
                                        <i class="material-icons">list</i> Informations personnelles
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item" >
                                    <a mat-button class="nav-link"  href="#attestation"  data-toggle="tab">
                                      <i class="material-icons">featured_play_list</i> Mes attestations
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>            
                                <li class="nav-item" >
                                    <a mat-button class="nav-link"  href="#conge"  data-toggle="tab">
                                      <i class="material-icons">event_available</i> Mes congés
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>            
                            </ul>
                        </div>
                    </div>    
                  </div>
                  <div class="card-body">
                    <div class="tab-content">                 
                      <div class="tab-pane active" id="perso">
                        <!-- ______________________________________________________________________________ -->
                        <div class="container">
                          <div class="row">
                              <div class="col-lg-12">
                                <div class="card-header-primary pull-left faza">
                                  <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                      <ul class="nav nav-tabs">
                                          <li class="nav-item">
                                              <a href="" data-target="#personnelles" data-toggle="tab" class="nav-link active">Données personnelles</a>
                                          </li>
                                          <li class="nav-item">
                                              <a href="" data-target="#professionnelles" data-toggle="tab" class="nav-link">Données professionnelles</a>
                                          </li>
                                          <li class="nav-item">
                                              <a href="" data-target="#connexion" data-toggle="tab" class="nav-link">Données de connexion</a>
                                          </li>
                                      </ul>
                                    </div>
                                  </div>
                              </div>
                    <div class="tab-content py-4 mt-5">
                        <div class="tab-pane active" id="personnelles">               
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Nom et Prénom:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.lname}} {{user?.fname}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Date de naissance:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.datenaissance | date:'dd/MM/yyyy'}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Numéro CIN:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.cin}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Sexe:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <span *ngIf="user?.sexe == 'male'" > Mâle</span>
                                        <span *ngIf="user?.sexe != 'male'" class="fa fa-venus"> Femelle</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Numéro téléphone:</label>
                                    </div>
                                    <div class="col-md-6">
                                        {{user?.tel}}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Adresse:</label>
                                    </div>
                                    <div class="col-md-9">
                                        {{user?.adress}}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="professionnelles">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Département:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                       <ng-container *ngFor="let depart of user?.departs; let isLast=last">
                                        {{depart.name}}{{isLast ? '' : ', '}}
                                       </ng-container> 
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Service:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.service}}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Poste:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.poste}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Grade:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <ng-container *ngIf="user?.grade<100">{{user?.grade}}</ng-container>
                                        <ng-container *ngIf="user?.grade>=100">Associé</ng-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Date de commencement:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.datecommencement | date:'dd/MM/yyyy'}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Anciennete:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{calcDate(user?.datecommencement)}}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Contrat:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.contrat.type}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Date:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.contrat.datedebutc | date:'dd/MM/yyyy'}}
                                        <ng-container *ngIf="user?.contrat.type!='CDI'">à {{user?.contrat.datefinc | date:'dd/MM/yyyy'}}</ng-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Diplôme:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.contrat.diplome}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Spécialité:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.contrat.specialite}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Nationalité:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.contrat.nationalite}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Situation familiale:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.contrat.situationfamiliale}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">RIB:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.contrat.rib}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Banque:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.contrat.banque}}
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Salaire Brute:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.contrat.salairebrut}}
                                    </div>
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Salaire Net:</label>
                                    </div>
                                    <div class="col-md-3">
                                        {{user?.contrat.salairenet}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Congé:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.contrat.conge}} jrs
                                    </div>
                                    <div *ngIf="user?.responsable.length>2" class="col-md-3">
                                        <label style="font-weight:bold;">responsable:</label>
                                    </div>
                                    <div *ngIf="user?.responsable.length>2" class="col-md-3">
                                        {{user?.responsable}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Avantage en nature:</label>
                                    </div>
                                    <div class="col-md-6">
                                        {{user?.contrat.avantageNature}} -  {{user?.contrat.avantageNatureValeur}}
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="connexion">
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label style="font-weight:bold;">Nom d'utilisateur:</label>
                                    </div>
                                    <div class="col-md-3 border-right border-md">
                                        {{user?.username}}
                                    </div>
                                    <div class="col-md-2">
                                        <label style="font-weight:bold;">Adresse email:</label>
                                    </div>
                                    <div class="col-md-4">
                                        {{user?.email}}
                                    </div>
                                </div>
                                    <form (submit)="onSubmit()" [formGroup]="form">
                                      <div class="row">  
                                        <div class="col-md-6">
                                            <mat-form-field>
                                            <input matInput placeholder="Mot de passe" formControlName="password" type="password">
                                            <mat-error *ngIf="form.controls.password.invalid">Saisir votre Mot de passe</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                            <input matInput placeholder="Confirmer mot de passe" formControlName="cpassword" type="password">
                                            <mat-error *ngIf="form.controls.cpassword.invalid">Le mot de passe ne correspond pas</mat-error>
                                            </mat-form-field>                                           
                                        </div>
                                    </div> 
                                        <button mat-raised-button type="submit" class="btn btn-info pull-right">
                                            <i *ngIf="loginIn" class="fa fa-spinner fa-spin mr-2"></i>Connexion
                                        </button>           
                                    </form>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- ______________________________________________________________________________ -->
                      </div>
                      <div align="center" class="tab-pane mt-3" id="attestation">
                        <app-attestation [id]="this.id"></app-attestation>
                      </div>
                      <div align="center" class="tab-pane mt-3" id="conge">
                        <app-conge [id]="this.id"></app-conge>
                      </div>

                    
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                    <div class="showButton">
                        <img class="card-avatar image col-md-3 mb-3" src="{{image}}"  *ngIf="!filePreviewPath "  />
                        <img class="card-avatar image col-md-3 mb-3" [src]="filePreviewPath"  *ngIf="filePreviewPath" />
                        <div class="middle">
                                <label for="fileUpload" id="photoUpload" class="text">
                                        <i style="font-size: 14px;" class="material-icons">camera_alt</i> Upload
                                        <input  type="file"  name="fileUplaod" id="fileUpload"
                                        ng2FileSelect [uploader]="uploader" hidden>   
                                </label>
                        </div>
                </div>

                  <div class="card-body">
                   
                        <h4 style="text-transform: uppercase;letter-spacing:1px" class="card-title">{{user?.fname}} {{user?.lname}}</h4>
                      <h6 class="card-category text-gray">{{user?.permsName}}</h6>

                     <div class="perc">
                            <h5>Informations utiles</h5>

                        <div class="line">
                         <label class="float-left">Solde de conger </label>
                         <label class="float-right">{{solde(user?.datecommencement,user?.contrat.conge)}} </label>

                        <mat-progress-bar mode="determinate" value="{{solde(user?.datecommencement,user?.contrat.conge)}}"></mat-progress-bar>    
                        </div>
                        <!-- <div class="line">
                         <label class="float-left">Dossier 2 </label>
                         <label class="float-right">60 % </label>

                        <mat-progress-bar mode="determinate" color="warn" value="60"></mat-progress-bar>     
                        </div>
                        <div class="line">     
                         <label class="float-left">Dossier 3 </label>
                         <label class="float-right">80 % </label>
                        <mat-progress-bar mode="determinate" color="accent" value="80"></mat-progress-bar>   
                        </div>   -->
                    </div>                 
                
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
