<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        
          <!-- 
              <i style="font-size: 30px;cursor: pointer;" class="navbar-collapse material-icons">menu</i>
           --> 

        <div class="collapse navbar-collapse justify-content-end" id="navigation">

            <ul class="navbar-nav">
                <li class="nav-item dropdown" (click)="notification_seen()">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification"  *ngIf="unseen_notifications > 0">{{ unseen_notifications }}</span>

                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <h6 class="dropdown-header">Notifications:</h6>
                     <li class="scroll">
                        <a class="dropdown-item" *ngIf="notifications?.length <= 0">
                            <div class="text-black mx-auto">Aucune Notification</div>
                        </a>
                        <ng-container *ngFor="let notification of notifications">
                        <a class="dropdown-item" style="cursor: pointer;" (click)="notifRedirect(notification)">
                                
                                        <div class="row justify-content-start">
                                            <div class="col-3">
                                                    <div *ngIf="notification.image; else defaultImage">
                                                            <img style="width:60px;height:60px;" class="rounded-circle" src="{{awsUrl}}{{notification.image}}" />
                                                    </div>
                                                    <ng-template #defaultImage>
                                                            <img style="width:60px;height:60px;" class="rounded-circle" src="{{baseUrl}}/uploads/img/devlopy.png" />
                                                    </ng-template>
                                            </div>
                                        <div class="col-3">
                                            <div class="card-title font-weight-bold"><b>{{notification.title}}</b></div>
                                            <div class="text-muted longtext">{{notification.message}}</div>
                                            <div class="card-text text-info">{{timeAgo(notification.createdAt)}}</div>
                                        </div>
                                        </div>
                        </a>
         
                    </ng-container>
                    </li>
                        <div class="dropdown-divider"></div>
                          <a class="dropdown-item" [routerLink]="['/notifications']"><div class="text-primary mx-auto">Voir Tout</div></a>
                    </ul>
                    
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="" (click)="onLogoutClick()">
                        <i class="material-icons">exit_to_app</i> Déconnecter
                    </a>
                    </li>
                    <li routerLinkActive="active"  class="nav-item">
                      <a class="nav-link" [routerLink]="['/user-profile']"  [queryParams]="{id: userId}"> 
                        <img *ngIf="image" style="width:40px;height:40px;" class="rounded-circle mx-auto d-block" src="{{awsUrl}}{{image}}" />
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mike John responded to your email</a></li>
                        <li><a href="#">You have 5 new tasks</a></li>
                        <li><a href="#">You're now friend with Andrew</a></li>
                        <li><a href="#">Another Notification</a></li>
                        <li><a href="#">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->
