<div class="main-content">
  <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
      
                    <div class="card row">
                        <div class="row card-profile">
                                <div class="card-header card-header-info col-md-9 mt-n5" style="height: 55px; text-align: start;">
                                <h4 class="card-title">Ajouter un utilisateur Rh</h4>
                                </div>
                                <div class="showButton">
                                        <img class="card-avatar image col-md-3 mb-3" [ngStyle]="{'margin-top': !isMobile ? '-6rem' : (isMobile ? '2rem' : null) }" 
                                        src="{{awsuri}}{{image}}"  *ngIf="!filePreviewPath "  />
                                        <img class="card-avatar image col-md-3 mb-3" [ngStyle]="{'margin-top': !isMobile ? '-6rem' : (isMobile ? '2rem' : null) }" 
                                        [src]="filePreviewPath"  *ngIf="filePreviewPath" />
                                        <div class="middle">
                                                <label for="fileUpload" id="photoUpload" class="text">
                                                        <i style="font-size: 14px;" class="material-icons">camera_alt</i> Upload
                                                        <input  type="file"  name="fileUplaod" id="fileUpload"
                                                        ng2FileSelect [uploader]="uploader" hidden>   
                                                </label>
                                        </div>
                                </div>
                        </div>
                        <div class="card-body mt-2">
              
                <mat-horizontal-stepper class="stepper" *ngIf="!isMobile" [linear]="isLinear" #stepper>
                <mat-step [stepControl]="personalForm" >
                        <form [formGroup]="personalForm"> 
                        <ng-template matStepLabel>Données personnelles</ng-template>
                        
                        <div class="row">
                        <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Nom" formControlName="lname">
                        <mat-error *ngIf="!personalForm.controls.lname.valid">Le nom est requis</mat-error>
                        </mat-form-field>
                        </div>
  
                        <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Prénom" formControlName="fname">
                        <mat-error *ngIf="!personalForm.controls.fname.valid">Le prenom est requis</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field>
                                <mat-select placeholder="Sexe"  formControlName="sexe">
                                <mat-option value="male">Mâle </mat-option>
                                <mat-option value="female">Femelle</mat-option>
                                </mat-select>
                                <mat-error *ngIf="personalForm.controls.sexe.invalid">Veuillez choisir un choix</mat-error>                                          
                        </mat-form-field>
                        </div>
                          </div>


                        <div class="row">
                                <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                <input  matInput placeholder="Carte d'identité nationale" formControlName="cin"type="text" >
                                <mat-error *ngIf="personalForm.controls.cin.invalid && (personalForm.controls.cin.dirty || personalForm.controls.cin.touched)">
                                <mat-error *ngIf="personalForm.controls.cin.errors.required">Numero de cin est requis</mat-error>
                                <mat-error *ngIf="personalForm.controls.cin.errors.isError && !personalForm.controls.cin.errors.required">Format invalide (8 chiffres)</mat-error>
                                </mat-error>
                                </mat-form-field>
                                </div>  
                                <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                <input  matInput placeholder="Numero de telephone" type="number" maxlength="8" formControlName="tel">
                                <mat-error *ngIf="personalForm.controls.tel.invalid && personalForm.controls.tel.errors.required">Numero de telephone requis</mat-error>
                                <mat-error *ngIf="personalForm.controls.tel.invalid && (personalForm.controls.tel.errors.min || personalForm.controls.tel.errors.max)">Format invalide (8 chiffres)</mat-error>
                                </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker1" placeholder="Date de naissance " formControlName="datenaissance">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="!personalForm.controls.datenaissance.valid">La date de naissance  est requise</mat-error>
                                </mat-form-field>
                                </div>
                        
                         </div>
                        
                         <div class="row">
                                 
                                <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                                <input  matInput placeholder="Adresse" formControlName="adress">
                                                <mat-error *ngIf="personalForm.controls.adress.invalid">L' adresse est requise </mat-error>
                                        </mat-form-field>
                                </div>
                                
                                
                         </div>

                         <div>
                            <button mat-button matStepperNext [disabled]="personalForm.invalid">Suivant</button>
                        </div>
                        </form>
                        </mat-step>


                        <mat-step [stepControl]="accountForm" >
                                        <form [formGroup]="accountForm"> 
                                        <ng-template matStepLabel>Données de connexion</ng-template>
                                        
                                        <div class="row">
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Nom d'utilisateur" formControlName="username">
                                        <mat-error *ngIf="!accountForm.controls.username.valid">Le username est requis</mat-error>
                                        </mat-form-field>
                                        </div>
                  
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Adresse email" formControlName="email">
                                        <mat-error *ngIf="!accountForm.controls.email.valid">L'email' est requis</mat-error>
                                        </mat-form-field>
                                        </div>
                                          </div>
                
                
                                             <div class="row">
                                                        <div class="col-md-6">
                                                            <mat-form-field class="example-full-width">
                                                              <input matInput placeholder="Mot de passe" type="password" formControlName="password">
                                                              <mat-error *ngIf="accountForm.controls.password.invalid">Le mot de passe est requis</mat-error>
                      
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-6">
                                                            <mat-form-field class="example-full-width">
                                                              <input matInput placeholder="Confirmer mot de passe" type="password" formControlName="cpassword">
                                                              <mat-error *ngIf="accountForm.controls.cpassword.invalid">Le mot de passe ne correspond pas</mat-error>
                      
                                                            </mat-form-field>
                                                          </div>
                                                </div>
                                                <div class="row">
                                                                <div class="col-md-12">
                                                                <mat-form-field>
                                                                        <mat-select [disableOptionCentering]="true" formControlName="permissions" #select placeholder="Pérmission" multiple>
                                                                                <mat-select-filter *ngIf="select.focused" [array]="permissionslist" [noResultsMessage]="'Aucun groupe'" [displayMember]="'groupename'" (filteredReturn)="filteredPermissionslist = $event"></mat-select-filter>
                                                                                <mat-option *ngFor="let permo of filteredPermissionslist" [value]="permo._id">
                                                                                {{permo.groupename}}
                                                                                </mat-option>
                                                                        </mat-select>
                                                                        <mat-error *ngIf="accountForm.controls.permissions.invalid">Vous devez choisir au moins un secteur d'activité</mat-error>
        
                                                                </mat-form-field> 
                                                                </div>
                                                        </div>
                                         <div>
                                            <button mat-button matStepperPrevious>Retour</button>
                                            <button mat-button matStepperNext [disabled]="accountForm.invalid">Suivant</button>
                                        </div>
                                        </form>
                                        </mat-step>
                        
                        <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup"> 
                        <ng-template matStepLabel>Données professionnelles</ng-template>

                        <div class="row"> 
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <mat-select  (ngModelChange)="onChangeDpart($event)" placeholder="Departement"  formControlName="departement" multiple>
                        <mat-option *ngFor="let depart of departs" [value]="depart._id">{{depart.name}}
                        </mat-option>  
                        </mat-select>
                        <mat-error *ngIf="!firstFormGroup.controls.departement.valid">Le departement est requis </mat-error>
                        </mat-form-field>
                        </div>
                        
                        <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                        <mat-select placeholder="Service"  formControlName="service">
                                <ng-container *ngIf="myDepart; else empty_service">
                                <mat-option *ngFor="let service of myDepart?.services" [value]="service">{{service}}</mat-option> 
                                </ng-container>
                                 <ng-template #empty_service>
                                         <mat-option>--</mat-option>
                                 </ng-template>
                                
                                </mat-select>
                        <mat-error *ngIf="!firstFormGroup.controls.service.valid">Le service est requis</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                        <mat-select placeholder="Poste"  formControlName="poste">
                                <ng-container *ngIf="postes; else empty_poste">
                                       <mat-option *ngFor="let post of postes" [value]="post">{{post}}</mat-option> 
                                </ng-container>
                                <ng-template #empty_poste>
                                        <mat-option>--</mat-option>
                                </ng-template>
                                </mat-select>
                        <mat-error *ngIf="!firstFormGroup.controls.poste.valid">Veuillez choisir un poste </mat-error>
                        </mat-form-field>
                                </div>
                          </div>
                
                        <div class="row">
                        <div class="col-md-6">
                        <mat-form-field>
                        <mat-select (ngModelChange)="onChangeGrade($event)" placeholder="Grade"  formControlName="grade">
                                <ng-container *ngIf="firstFormGroup.controls.poste.value; else other_content">
                                        <mat-option value="1">{{firstFormGroup.controls.poste.value}} 1</mat-option>
                                        <mat-option value="2">{{firstFormGroup.controls.poste.value}} 2</mat-option>
                                        <mat-option value="3">{{firstFormGroup.controls.poste.value}} 3</mat-option>
                                        <mat-option value="100">Associé</mat-option>
                                </ng-container>
                                <ng-template #other_content>
                                        <mat-option>--</mat-option>
                                </ng-template>

                        </mat-select>
                        <mat-error *ngIf="!firstFormGroup.controls.grade.valid">Veuillez choisir un grade</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <mat-select placeholder="responsable"  formControlName="responsable" multiple>
                                <mat-option *ngFor="let responsable of responsables" [value]="responsable._id">{{responsable.lname}} {{responsable.fname}}</mat-option>
                        </mat-select>
                                <mat-error *ngIf="!firstFormGroup.controls.responsable.valid">Le responsable est requis </mat-error>
                        </mat-form-field>
                        </div> 
                        </div>                          
                        <div class="row"> 
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input (dateChange)="calculanc($event)" matInput [matDatepicker]="picker2" placeholder="Date de commencement " formControlName="datecommencement">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="!firstFormGroup.controls.datecommencement.valid">La date de commencement est requise</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Anciennete" formControlName="anciente">
                        <mat-error *ngIf="!firstFormGroup.controls.anciente.valid">L'ancienneté est requise</mat-error>
                        </mat-form-field>
                        </div> 
                        </div>
                        <div>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Suivant</button>
                        </div>
                        </form>
                        </mat-step>

                        <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup"> 
                        <ng-template matStepLabel>Contrat </ng-template>
                        
                        <div class="row">
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                                <mat-select (ngModelChange)="onChangeType($event)" placeholder="Type"  formControlName="type">
                                <mat-option value="SIVP">CIVP</mat-option>
                                <mat-option value="CDD">CDD</mat-option>
                                <mat-option value="CDI">CDI</mat-option>
                                <mat-option value="STAGIAIRE">Stagiaire</mat-option>
                                </mat-select>
                        <mat-error *ngIf="!secondFormGroup.controls.type.valid">Veuillez choisir un choix</mat-error>
                        </mat-form-field>
                        </div>

                               
                                               
                        <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker3" placeholder="Date de debut Contrat " formControlName="datedebutc">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                        <mat-error *ngIf="!secondFormGroup.controls.datedebutc.valid">La date de debut Contrat est requise</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf="!isCDI">
                        <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker4" placeholder="Date de fin Contrat " formControlName="datefinc">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                        <mat-error *ngIf="!secondFormGroup.controls.datefinc.valid">La date de fin Contrat est requise</mat-error>
                        </mat-form-field>
                        </div>
                        </div>

                        <div class="row"> 
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Diplôme" formControlName="diplome">
                        <mat-error *ngIf="!secondFormGroup.controls.diplome.valid">Le diplome est requis</mat-error>
                        </mat-form-field>
                        </div>  
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Specialite" formControlName="specialite">
                        <mat-error *ngIf="!secondFormGroup.controls.specialite.valid">Le specialite est requis</mat-error>
                        </mat-form-field>
                        </div>     
                         </div>

                        <div class="row"> 
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Nationalité" formControlName="nationalite">
                        <mat-error *ngIf="!secondFormGroup.controls.nationalite.valid"> La nationalité est requise</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="RIB" type="text"  formControlName="rib">
                        <mat-error *ngIf="secondFormGroup.controls.rib.invalid && (secondFormGroup.controls.rib.dirty || secondFormGroup.controls.rib.touched)">
                        <mat-error *ngIf="secondFormGroup.controls.rib.errors.required">Numero de rib est requis</mat-error>
                        <mat-error *ngIf="secondFormGroup.controls.rib.errors.isError && !secondFormGroup.controls.rib.errors.required">Format invalide (20 chiffres)</mat-error>
                        </mat-error>
                        </mat-form-field>
                        </div>       
                        </div>

                        <div class="row"> 
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Banque" formControlName="banque">
                        <mat-error *ngIf="!secondFormGroup.controls.banque.valid">La banque est requise </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Avantage en nature" formControlName="avantageNature">
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Valeur de l'avantage" formControlName="avantageNatureValeur">
                        </mat-form-field>
                        </div>       
                        </div>

                        <div class="row"> 
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="Conge" formControlName="conge">
                        <mat-error *ngIf="!secondFormGroup.controls.conge.valid">Le congé est requis </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <mat-select placeholder="Situation familiale"  formControlName="situationfamiliale">
                                        <mat-option value="marié">marié</mat-option>
                                        <mat-option value="divorcé">divorcé</mat-option>
                                        <mat-option value="séparé">séparé</mat-option>
                                        <mat-option value="célibataire ">célibataire </mat-option>
                                        <mat-option value="veuf">veuf </mat-option>
                                         </mat-select>
                        <mat-error *ngIf="!secondFormGroup.controls.situationfamiliale.valid">La situation familiale est requise </mat-error>
                        </mat-form-field>
                        </div>       
                        </div>
                        <div class="row"> 
                                <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input  matInput placeholder="Salaire brut" type="text" formControlName="salairebrut"
                                (keypress)="numericOnly($event)" (blur)="estwi($event,'salairebrut')">
                                <mat-error *ngIf="secondFormGroup.controls.salairebrut.invalid && secondFormGroup.controls.salairebrut.errors.required">Salaire brut requis</mat-error>
                                </mat-form-field>
                                </div>  
                                <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                <input  matInput placeholder="Salaire net" type="text" formControlName="salairenet"
                                (keypress)="numericOnly($event)" (blur)="estwi($event,'salairenet')">
                                <mat-error *ngIf="secondFormGroup.controls.salairenet.invalid && secondFormGroup.controls.salairenet.errors.required">Salaire net requis</mat-error>
                                </mat-form-field>
                                </div>     
                        </div>
                        <div>
                        <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                        <input  matInput placeholder="CNSS" type="text" formControlName="cnss">
                        </mat-form-field>
                        </div> 
                        </div>
                        <div>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Suivant</button>
                        </div>
                        </form>
                        </mat-step>
        
                        <mat-step>
                        <ng-template matStepLabel>Valider</ng-template>
                        Vous avez maintenant terminé.
                        <div>
                                <button mat-button matStepperPrevious>Retour</button>
                                <button mat-button (click)="stepper.reset()">Réinitialiser</button>
                                <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-danger pull-right">Confirmer</button>
                        </div>
                        </mat-step>
                        </mat-horizontal-stepper>

                        <!-- _____________________________________________________________________________________ -->
                        <mat-vertical-stepper class="stepper" *ngIf="isMobile" [linear]="isLinear" #stepper>
                                <mat-step [stepControl]="personalForm" >
                                        <form [formGroup]="personalForm"> 
                                        <ng-template matStepLabel>Données personnelles</ng-template>
                                        
                                        <div class="row">
                                        <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Nom" formControlName="lname">
                                        <mat-error *ngIf="!personalForm.controls.lname.valid">Le nom est requis</mat-error>
                                        </mat-form-field>
                                        </div>
                  
                                        <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Prénom" formControlName="fname">
                                        <mat-error *ngIf="!personalForm.controls.fname.valid">Le prenom est requis</mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                        <mat-form-field>
                                                <mat-select placeholder="Sexe"  formControlName="sexe">
                                                <mat-option value="male">Mâle </mat-option>
                                                <mat-option value="female">Femelle</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="personalForm.controls.sexe.invalid">Veuillez choisir un choix</mat-error>                                          
                                        </mat-form-field>
                                        </div>
                                          </div>
                
                
                                        <div class="row">
                                                <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                <input  matInput placeholder="Carte d'identité nationale" formControlName="cin"type="text" >
                                                <mat-error *ngIf="personalForm.controls.cin.invalid && (personalForm.controls.cin.dirty || personalForm.controls.cin.touched)">
                                                <mat-error *ngIf="personalForm.controls.cin.errors.required">Numero de cin est requis</mat-error>
                                                <mat-error *ngIf="personalForm.controls.cin.errors.isError && !personalForm.controls.cin.errors.required">Format invalide (8 chiffres)</mat-error>
                                                </mat-error>
                                                </mat-form-field>
                                                </div>  
                                                <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                <input  matInput placeholder="Numero de telephone" type="number" maxlength="8" formControlName="tel">
                                                <mat-error *ngIf="personalForm.controls.tel.invalid && personalForm.controls.tel.errors.required">Numero de telephone requis</mat-error>
                                                <mat-error *ngIf="personalForm.controls.tel.invalid && (personalForm.controls.tel.errors.min || personalForm.controls.tel.errors.max)">Format invalide (8 chiffres)</mat-error>
                                                </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker1" placeholder="Date de naissance " formControlName="datenaissance">
                                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker1></mat-datepicker>
                                                        <mat-error *ngIf="!personalForm.controls.datenaissance.valid">La date de naissance  est requise</mat-error>
                                                </mat-form-field>
                                                </div>
                                        
                                         </div>
                                        
                                         <div class="row">
                                                 
                                                <div class="col-md-12">
                                                        <mat-form-field class="example-full-width">
                                                                <input  matInput placeholder="Adresse" formControlName="adress">
                                                                <mat-error *ngIf="personalForm.controls.adress.invalid">L' adresse est requise </mat-error>
                                                        </mat-form-field>
                                                </div>
                                                
                                                
                                         </div>
                
                                         <div>
                                            <button mat-button matStepperNext [disabled]="personalForm.invalid">Suivant</button>
                                        </div>
                                        </form>
                                        </mat-step>
                
                
                                        <mat-step [stepControl]="accountForm" >
                                                        <form [formGroup]="accountForm"> 
                                                        <ng-template matStepLabel>Données de connexion</ng-template>
                                                        
                                                        <div class="row">
                                                        <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                        <input  matInput placeholder="Nom d'utilisateur" formControlName="username">
                                                        <mat-error *ngIf="!accountForm.controls.username.valid">Le username est requis</mat-error>
                                                        </mat-form-field>
                                                        </div>
                                  
                                                        <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                        <input  matInput placeholder="Adresse email" formControlName="email">
                                                        <mat-error *ngIf="!accountForm.controls.email.valid">L'email' est requis</mat-error>
                                                        </mat-form-field>
                                                        </div>
                                                          </div>
                                
                                
                                                             <div class="row">
                                                                        <div class="col-md-6">
                                                                            <mat-form-field class="example-full-width">
                                                                              <input matInput placeholder="Mot de passe" type="password" formControlName="password">
                                                                              <mat-error *ngIf="accountForm.controls.password.invalid">Le mot de passe est requis</mat-error>
                                      
                                                                            </mat-form-field>
                                                                          </div>
                                                                          <div class="col-md-6">
                                                                            <mat-form-field class="example-full-width">
                                                                              <input matInput placeholder="Confirmer mot de passe" type="password" formControlName="cpassword">
                                                                              <mat-error *ngIf="accountForm.controls.cpassword.invalid">Le mot de passe ne correspond pas</mat-error>
                                      
                                                                            </mat-form-field>
                                                                          </div>
                                                                </div>
                                                                <div class="row">
                                                                                <div class="col-md-12">
                                                                                <mat-form-field>
                                                                                        <mat-select [disableOptionCentering]="true" formControlName="permissions" #select placeholder="Pérmission" multiple>
                                                                                                <mat-select-filter *ngIf="select.focused" [array]="permissionslist" [noResultsMessage]="'Aucun groupe'" [displayMember]="'groupename'" (filteredReturn)="filteredPermissionslist = $event"></mat-select-filter>
                                                                                                <mat-option *ngFor="let permo of filteredPermissionslist" [value]="permo._id">
                                                                                                {{permo.groupename}}
                                                                                                </mat-option>
                                                                                        </mat-select>
                                                                                        <mat-error *ngIf="accountForm.controls.permissions.invalid">Vous devez choisir au moins un secteur d'activité</mat-error>
                        
                                                                                </mat-form-field> 
                                                                                </div>
                                                                        </div>
                                                         <div>
                                                            <button mat-button matStepperPrevious>Retour</button>
                                                            <button mat-button matStepperNext [disabled]="accountForm.invalid">Suivant</button>
                                                        </div>
                                                        </form>
                                                        </mat-step>
                                        
                                        <mat-step [stepControl]="firstFormGroup">
                                        <form [formGroup]="firstFormGroup"> 
                                        <ng-template matStepLabel>Données professionnelles</ng-template>
                
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <mat-select  (ngModelChange)="onChangeDpart($event)" placeholder="Departement"  formControlName="departement" multiple>
                                        <mat-option *ngFor="let depart of departs" [value]="depart._id">{{depart.name}}
                                        </mat-option>  
                                        </mat-select>
                                        <mat-error *ngIf="!firstFormGroup.controls.departement.valid">Le departement est requis </mat-error>
                                        </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Service"  formControlName="service">
                                                <ng-container >
                                                <mat-option *ngFor="let service of myDepart?.services" [value]="service">{{service}}</mat-option> 
                                                </ng-container>
                                                
                                                </mat-select>
                                        <mat-error *ngIf="!firstFormGroup.controls.service.valid">Le service est requis</mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Poste"  formControlName="poste">
                                                <ng-container *ngIf="Poste; else empty_poste">
                                                       <mat-option *ngFor="let post of postes" [value]="post">{{post}}</mat-option> 
                                                </ng-container>
                                                <ng-template #empty_poste>
                                                        <mat-option>--</mat-option>
                                                </ng-template>
                                                </mat-select>
                                        <mat-error *ngIf="!firstFormGroup.controls.poste.valid">Veuillez choisir un poste </mat-error>
                                        </mat-form-field>
                                                </div>
                                          </div>
                                
                                        <div class="row">
                                        <div class="col-md-6">
                                        <mat-form-field>
                                        <mat-select (ngModelChange)="onChangeGrade($event)" placeholder="Grade"  formControlName="grade">
                                                <ng-container *ngIf="firstFormGroup.controls.poste.value; else other_content">
                                                        <mat-option value="1">{{firstFormGroup.controls.poste.value}} 1</mat-option>
                                                        <mat-option value="2">{{firstFormGroup.controls.poste.value}} 2</mat-option>
                                                        <mat-option value="3">{{firstFormGroup.controls.poste.value}} 3</mat-option>
                                                        <mat-option value="100">Associé</mat-option>
                                                </ng-container>
                                                <ng-template #other_content>
                                                        <mat-option>--</mat-option>
                                                </ng-template>
                
                                        </mat-select>
                                        <mat-error *ngIf="!firstFormGroup.controls.grade.valid">Veuillez choisir un grade</mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <mat-select placeholder="responsable"  formControlName="responsable" multiple>
                                                <mat-option *ngFor="let responsable of responsables" [value]="responsable._id">{{responsable.lname}} {{responsable.fname}}</mat-option>
                                        </mat-select>
                                                <mat-error *ngIf="!firstFormGroup.controls.responsable.valid">Le responsable est requis </mat-error>
                                        </mat-form-field>
                                        </div> 
                                        </div>                          
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input (dateChange)="calculanc($event)" matInput [matDatepicker]="picker2" placeholder="Date de commencement " formControlName="datecommencement">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error *ngIf="!firstFormGroup.controls.datecommencement.valid">La date de commencement est requise</mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Anciennete" formControlName="anciente">
                                        <mat-error *ngIf="!firstFormGroup.controls.anciente.valid">L'ancienneté est requise</mat-error>
                                        </mat-form-field>
                                        </div> 
                                        </div>
                                        <div>
                                        <button mat-button matStepperPrevious>Retour</button>
                                        <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Suivant</button>
                                        </div>
                                        </form>
                                        </mat-step>
                
                                        <mat-step [stepControl]="secondFormGroup">
                                        <form [formGroup]="secondFormGroup"> 
                                        <ng-template matStepLabel>Contrat </ng-template>
                                        
                                        <div class="row">
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                                <mat-select (ngModelChange)="onChangeType($event)" placeholder="Type"  formControlName="type">
                                                <mat-option value="SIVP">CIVP</mat-option>
                                                <mat-option value="CDD">CDD</mat-option>
                                                <mat-option value="CDI">CDI</mat-option>
                                                <mat-option value="STAGIAIRE">Stagiaire</mat-option>
                                                </mat-select>
                                        <mat-error *ngIf="!secondFormGroup.controls.type.valid">Veuillez choisir un choix</mat-error>
                                        </mat-form-field>
                                        </div>
                
                                               
                                                               
                                        <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker3" placeholder="Date de debut Contrat " formControlName="datedebutc">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                        <mat-error *ngIf="!secondFormGroup.controls.datedebutc.valid">La date de debut Contrat est requise</mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-3" *ngIf="!isCDI">
                                        <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker4" placeholder="Date de fin Contrat " formControlName="datefinc">
                                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                        <mat-error *ngIf="!secondFormGroup.controls.datefinc.valid">La date de fin Contrat est requise</mat-error>
                                        </mat-form-field>
                                        </div>
                                        </div>
                
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Diplôme" formControlName="diplome">
                                        <mat-error *ngIf="!secondFormGroup.controls.diplome.valid">Le diplome est requis</mat-error>
                                        </mat-form-field>
                                        </div>  
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Specialité" formControlName="specialite">
                                        <mat-error *ngIf="!secondFormGroup.controls.specialite.valid">La specialité est requise</mat-error>
                                        </mat-form-field>
                                        </div>     
                                         </div>
                
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Nationalite" formControlName="nationalite">
                                        <mat-error *ngIf="!secondFormGroup.controls.nationalite.valid"> nationalite est requis</mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="RIB" type="text"  formControlName="rib">
                                        <mat-error *ngIf="secondFormGroup.controls.rib.invalid && (secondFormGroup.controls.rib.dirty || secondFormGroup.controls.rib.touched)">
                                        <mat-error *ngIf="secondFormGroup.controls.rib.errors.required">Numero de rib est requis</mat-error>
                                        <mat-error *ngIf="secondFormGroup.controls.rib.errors.isError && !secondFormGroup.controls.rib.errors.required">Format invalide (20 chiffres)</mat-error>
                                        </mat-error>
                                        </mat-form-field>
                                        </div>       
                                        </div>
                
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Banque" formControlName="banque">
                                        <mat-error *ngIf="!secondFormGroup.controls.banque.valid">Le banque est requis </mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Avantage en nature" formControlName="avantageNature">
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Valeur de l'avantage" formControlName="avantageNatureValeur">
                                        </mat-form-field>
                                        </div>       
                                        </div>
                
                                        <div class="row"> 
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="Conge" formControlName="conge">
                                        <mat-error *ngIf="!secondFormGroup.controls.conge.valid">Le conge est requis </mat-error>
                                        </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Situation familiale"  formControlName="situationfamiliale">
                                                        <mat-option value="marié">marié</mat-option>
                                                        <mat-option value="divorcé">divorcé</mat-option>
                                                        <mat-option value="séparé">séparé</mat-option>
                                                        <mat-option value="célibataire ">célibataire </mat-option>
                                                        <mat-option value="veuf">veuf </mat-option>
                                                         </mat-select>
                                        <mat-error *ngIf="!secondFormGroup.controls.situationfamiliale.valid">La situationfamiliale est requise </mat-error>
                                        </mat-form-field>
                                        </div>       
                                        </div>
                                        <div class="row"> 
                                                <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                <input  matInput placeholder="Salaire brut" type="text" formControlName="salairebrut"
                                                (keypress)="numericOnly($event)" (blur)="estwi($event,'salairebrut')">
                                                <mat-error *ngIf="secondFormGroup.controls.salairebrut.invalid && secondFormGroup.controls.salairebrut.errors.required">Salaire requis</mat-error>
                                                </mat-form-field>
                                                </div>  
                                                <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                <input  matInput placeholder="Salaire net" type="text" formControlName="salairenet"
                                                (keypress)="numericOnly($event)" (blur)="estwi($event,'salairenet')">
                                                <mat-error *ngIf="secondFormGroup.controls.salairenet.invalid && secondFormGroup.controls.salairenet.errors.required">Salaire requis</mat-error>
                                                </mat-form-field>
                                                </div>     
                                        </div>
                                        <div>
                                        <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                        <input  matInput placeholder="CNSS" type="text" formControlName="cnss">
                                        </mat-form-field>
                                        </div> 
                                        </div>
                                        <div>
                                        <button mat-button matStepperPrevious>Retour</button>
                                        <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Suivant</button>
                                        </div>
                                        </form>
                                        </mat-step>
                        
                                        <mat-step>
                                        <ng-template matStepLabel>Valider</ng-template>
                                        Vous avez maintenant terminé.
                                        <div>
                                                <button mat-button matStepperPrevious>Retour</button>
                                                <button mat-button (click)="stepper.reset()">Réinitialiser</button>
                                                <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-danger pull-right">Confirmer</button>
                                        </div>
                                        </mat-step>
                                        </mat-vertical-stepper>
                                       
         </div>
         </div>
</div>
</div>
</div>
</div>
