  .showButton {
    position: relative;
    margin-left: 5%
  }
  
  .image {
    object-fit:cover;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .showButton:hover .image {
    opacity: 0.6;
  }
  
  .showButton:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 11px;
    padding: 16px 32px;
    object-fit:contain;
    margin-bottom: 50%;
    height: 60%; /* as the half of the width */
  }

  .stepper {    
    display: inline !important;
  }