<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <button (click)="openForm()" class="btn btn-info"><i class="material-icons">add</i> Nouveau Groupe</button>
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title ">Groupes</h4>
                  </div>
                  <div class="card-body">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                      <div class="table-responsive">
                          <table mat-table  [dataSource]="MyDataSource" multiTemplateDataRows  matSort matSortActive="groupename" matSortDirection="asc"  class="table borderless">
                                                          
                                  <!-- Name Column -->
                                <ng-container matColumnDef="groupename">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Nom du Groupe </th>
                                    <td class="pt-3 pb-3" mat-cell *matCellDef="let data"> {{data.groupename}} </td>
                                  </ng-container>
                                   
                                   <!-- Action Column -->
                                   <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Action </th>
                                    <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
                                      <i (click)="openForm(data._id)" class="text-primary material-icons mr-2">create</i>
                                      <i data-toggle="modal" data-target="#myModal" (click)="togglModal(data._id)" class="text-danger material-icons mr-2">clear</i>
                                    </td>
                                  </ng-container>


                                     <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                                    <ng-container matColumnDef="expandedDetail">
                                      <td mat-cell *matCellDef="let data" [attr.colspan]="displayedColumns.length">
                                        <div class="example-element-detail"
                                             [@detailExpand]="data == expandedElement ? 'expanded' : 'collapsed'">
                                             <tr *ngFor="let service of services">
                                              <div mat-row *ngIf="service.client == data._id">
                                                <div class="example-element-description">
                                                    {{service.client}}
                                                </div>
                                                  <div>
                                                   bah
                                                  </div>
                                                  </div>
                                             </tr>
                                        </div>
                                      </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let data; columns: displayedColumns;"
                                        class="example-element-row"
                                        [class.example-expanded-row]="expandedElement === data"
                                        (click)="expandedElement = expandedElement === data ? null : data">
                                    </tr>
                                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                            </table>
                            <div *ngIf="MyDataSource?.data.length === 0 || MyDataSource?.filteredData.length === 0" style="text-align: center;">
                              <i style="font-size: 200px;color:#ff4519;" class="material-icons">search</i>
                              <div style="font-size: 20px">Aucune donnée trouvée</div> 
                          </div>
                            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="myModal" class="modal fade">
<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="icon-box">
        <i class="material-icons">&#xE5CD;</i>
      </div>				
      <h4 class="modal-title">Are you sure !</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button id="hideModal" type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
      <button type="button" (click)="delete(deleteId)" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
</div> 