.center{
  position: relative;
  left: 33%;
}

.right{
  position: absolute;
  right: 2%;
  bottom: 15%;
}

::ng-deep .cdk-overlay-container {
  z-index: 1051!important;
}


.my-drop-zone { border: dotted 3px lightgray; 
  height:fit-content;
  margin-top:20px;
  width: 100%;  
  border-radius: 20px;
  text-align: center;
  display: inline-block
  
  }
  
  .dropfiles{
      font-size: 25px;
      text-anchor: middle;
      line-height:200px;
      color:lightgray;
  }
  
  .files{
      padding:10px;
  }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }
  
  
  .close {
    position: absolute;
    top: 0;
    right: 28px;
    cursor: pointer;
  }
  
  .actions{
    display : none;
  }
  
  .demande{
    width: 100% ;
    text-align: center;
  }
  .demande.material-icons{
   font-size: 1000%;
   color: gray ;
  }
  
  .arrow{
    display: none;
    margin-left:10px;
    margin-right:2px;
  }
  
  
  .rotate {
    cursor: pointer;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  .rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
  }
  .custom-header{
    background: white !important;
    color : #808080 !important ;
    border-bottom : #26c6da 1px solid ;
    font-weight: 100px ;
  }