<!-- Button trigger modal -->
<button class="pull-right mt-n4" color="basic" mat-mini-fab data-toggle="modal" data-target="#attestationModal" aria-label="Ajouter une demande">
  <mat-icon>add</mat-icon>
</button>
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>

                    <div class="table-responsive">
                      <table mat-table  [dataSource]="MyDataSource" multiTemplateDataRows  matSort  class="table borderless">
                  
                           <!-- Type Column -->
                           <ng-container matColumnDef="Type">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Type </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.type}} </td>
                            </ng-container>
                  
                           <!-- Raison Column -->
                           <ng-container matColumnDef="Raison">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Raison </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.raison}}</td>
                            </ng-container>
                          
                            <!-- Date Column -->
                           <ng-container matColumnDef="Date">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Date de soumission </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">  {{data.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
                            </ng-container>

                            <!-- status Column -->
                           <ng-container matColumnDef="Etat">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Etat </th>
                              <td class="pt-3 pb-3" mat-cell *matCellDef="let data">
                                <span *ngIf="data.etat == 0" class="badge badge-warning">En Attente</span>
                                <span *ngIf="data.etat == 1" class="badge badge-success"> Prête<i *ngIf="data.file" style="font-size: 10px; cursor: pointer;" class="ml-1 material-icons" (click)="download(data.file)" >cloud_download</i></span>                           
                                </td>
                            </ng-container>
                  
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                 
<div id="attestationModal" class="modal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Feedback</h5>
      <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

<form  [formGroup]="form" (ngSubmit)="onSubmit()">              
    <div class="modal-body">            
          <!-- ______________  ______________  ______________  ______________  ______________   -->
<div class="card-body">
        
      <div class="row mb-2">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Type"  formControlName="type">
                  <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>                                 
                 </mat-select>
            <mat-error *ngIf="!form.controls.type.valid">Le type d'attestation est requis</mat-error>
          </mat-form-field>
          </div>
      </div>
      <div class="row mb-2">
          <div class="col-md-12">
            <mat-form-field>
              <textarea matInput placeholder="Raison" formControlName="raison"></textarea>
              </mat-form-field>
          </div>
      </div>      
</div>
<!-- ______________  ______________  ______________  ______________  ______________   -->

    </div>
    <div class="modal-footer">
      <button type="button" type="submit" class="btn btn-info"> <i *ngIf="submited" class="fa fa-spinner fa-spin mr-2"></i>Envoyer</button>
      <button [disabled]="submited" type="reset" type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
    </div>
  </form>        
  </div>
</div>
</div>



